:root {
    --bg-color-primary: #fcd530;
    --bg-color-secondary: #ce1920;
    --txt-color-secondary: white;
    --color-danger: red;
    --box-shadow-primary: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    --border-radius: 5px;
}